<div class="sidenav" [ngClass]="collapsed ? 'sidenav-collapsed': ''">
    <div class="logo-container">
        <button class="logo" (click)="toggleCollapse()" title="ocultar">
            <i class="fa fa-solid fa-bars"></i>
        </button>
        <div class="logo-text" @fadeInOut *ngIf="collapsed">BOTILLERIA CARLITROS S.A</div>
        <button class="btn-close" @rotate *ngIf="collapsed" (click)="closeSidenav()" title="cerrar">
            <i class="fa fa-times close-icon"></i>
        </button>
    </div>
    <div class="scrollwrap scrollwrap_delayed">
        <ul class="sidenav-nav">

            <li class="sidenav-nav-item">
                <a class="sidenav-nav-link" title="Home" routerLink="/inicio/home" routerLinkActive="active">
                    <i class="sidenav-link-icon" [class]="homeIcon"></i>  
                    <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed">Home</span>    
                </a>
            </li>

            <li class="sidenav-nav-item" *ngFor="let data of navData">
                <a class="sidenav-nav-link" *ngIf="data.children && data.children.length > 0" (click)="handleClick(data)" [ngClass]="getActiveClass(data)" title="{{data.name}}">
                    <i class="sidenav-link-icon" [class]="data.icon"></i>
                    <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed">{{data.name}}</span>
                    <i *ngIf="data.children && collapsed" class="menu-collapse-icon"
                        [ngClass]="!data.expanded? 'fa fa-angle-right' : 'fa fa-angle-down'"></i>
                </a>
                <a class="sidenav-nav-link" *ngIf="!data.children || (data.children && data.children.length === 0)"
                    [routerLink]="[data.url]" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="shrinkItems(data)" title="{{data.name}}"
                >
                    <i class="sidenav-link-icon" [class]="data.icon"></i>
                    <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed">
                        {{data.name}}
                    </span>
                </a>
                <div *ngIf="collapsed && data.children && data.children.length > 0">
                    <app-sublevel-menu [data]="data" [collapsed]="collapsed" [multiple]="multiple"
                        [expanded]="data.expanded">
                    </app-sublevel-menu>
                </div>
            </li>
        </ul>
    </div>
</div>